<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<style>
    body{background-color: darkslategray;}

    h1{
        color: antiquewhite;
        text-align: center;
    }

    .länk{
        text-align: center;
        color: antiquewhite;
    }

    tr{color: antiquewhite;}

</style>

<h1> Kundvagns Appen! </h1>

<p class="länk"> Click <a th:href="@{/index}">here</a> Kundvagn.</p>
</body>
</html>