<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kundvagn</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<style>
    body{background-color: darkslategray;}

    h1{color: antiquewhite;}

    tr{color: antiquewhite;}

</style>

<div class="container my-2">

    <table border="1" class = "table table-dark table-striped">
        <thead>
        <tr>
            <th>kundvagn id</th>
            <th>Username</th>
            <th>Grocery name</th>
            <th>Grocery price</th>
            <th>Amount</th>
            <th>Total price</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="kundvagnmodel : ${KundvagnListHTML}">
            <td th:text="${kundvagnmodel.kundvagn_id}"></td>
            <td th:text="${kundvagnmodel.user_name}"></td>
            <td th:text="${kundvagnmodel.grocery_name}"></td>
            <td th:text="${kundvagnmodel.price}"></td>
            <td th:text="${kundvagnmodel.amount}"></td>
            <td th:text="${kundvagnmodel.price * kundvagnmodel.amount}"></td>

            <td>
                <a th:href="@{/editKundvagnGrocery/{id}(id=${kundvagnmodel.kundvagn_id})}"class="btn btn-secondary">Edit</a>
                <a th:href="@{/deleteKundvagnGrocery/{id}(id=${kundvagnmodel.kundvagn_id})}"class="btn btn-secondary">Delete</a>
            </td>
        </tr>


        </tbody>
    </table>
    <h1 th:text="'Total cost: ' + ${totalCostHtml} + ' kr'"}> </h1>

    <a href="/newKundvagnGrocery">
        <button style="margin-top :15px" type="button" class="btn btn-secondary">Add New Grocery</button>

    </a>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>


</div>
</body>
</html>